
body{

    background-color: #17062a;

}

h2{
    color: #ffe53d;
}


p{
    color: #ffe53d;
}



span{
    color: #ffe53d;
}

.label{
    background-color: #1e0936;
}


.ball-right{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ded0;
    position: absolute;
    top:  5px;
    right: 5px;
}

.ball-right:hover , #equal:hover{
    cursor: pointer;
    background-color: #93fff8;
}



.result-container{
    background-color: #1e0936;
}

h1{
    color: #ffe53d;
}

.calculation{
    background-color: #1e0936;
}

.number{
    box-shadow: inset 0 -4px 0 0 #881c9e;
    background-color: #331c4d;
    color: #ffe53d;
}

.number:hover{
    cursor: pointer;
    box-shadow: inset 0 -4px 0 0 #881c9e;
    background-color: #6c34ac;
}

#delete{
    box-shadow: inset 0 -4px 0 0 #be15f4;
    background-color: #56077c;
    color: #fff;
}

#reset{
    box-shadow: inset 0 -4px 0 0 #be15f4;
    background-color: #56077c;
    color: #fff;
}

#delete:hover , #reset:hover{
    cursor: pointer;
    background-color: #8631af;
}

#equal{
    box-shadow: inset 0 -4px 0 0 #6cf9f1;
    background-color: #00ded0;
    color: #1a2327;
    
}

